
<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <img src="cid:logo" alt="BeInvestor"/>
        </div>
        <div class="col"></div>
    </div>
</div>