<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="utf-8"> <!-- utf-8 works for most cases -->
    <meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting">  <!-- Disable auto-scale in iOS 10 Mail entirely -->
    <title><%= subject%></title> <!-- The title tag shows in email notifications, like Android 4.4. -->

    <!-- CSS Reset : BEGIN -->
    <style>
    </style>
</head>

<body width="100%" style="margin: 0;">
<h2>Bienvenue dans la communauté BeInvestor <% if (name) { %><%= name %><%}%> !</h2>

<p>Pour activer votre compte et profiter pleinement de l'application, rentrer le code suivant  :</p>
<% if (code) { %>
<h2><%= code %></h2>
<% } %>

<p>Sinon vous pouvez cliquer ci-dessous :</p>
<a href="<%= activationLink %>">Activer mon compte</a>

</body>
</html>